<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
</head>
<body>

    {{{body}}}

  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}

</body>
</html>