<nav>
  <a href="/">Home</a>
  <a href="/">Dashboard</a>
  {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    <h1>Tech Blog: Home</h1>
    <h2>Logged In</h2>
  {{else}}
    <h1>Tech Blog: Home</h1>
    <h2>Please Log-In to Continue</h2>
    <a href="/login">Login</a>
  {{/if}}
</nav>

<section>
  <a href="/newpost"><h2>Create New Post</h2></a>
</section>

<section>
  {{#each posts}}
    <div>
      <h3>
        {{this.post_title}}
      </h3>
      <p>
        {{this.post_content}}
      </p>
    </div>
  {{/each}}
</section>