<div class="newpost">
    <h2 class="post-title">Create a New Post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="create-title">Post Title:</label>
        <input class="form-input" type="text" id="create-title" />
      </div>
      <div class="form-group">
        <label for="create-content">Content:</label>
        <input class="form-input" type="text" id="create-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>